.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 128px;
  height: 130px;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.buttonWrap {
  padding: 16px;
}
.button {
  height: 48px;
  width: 100%;
  background-color: #5C33BE;
  border: none;
  color: #fff;
  border-radius: 8px;
}