.menuWrap {
  background-color: #fff;
  font-size: 20px;
  padding: 16px 0;
  li {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 4px;
    img {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }
}